html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../money.jpg');
  background-position: center;
  background-size: cover;
  font-family: 'Roboto Condensed', sans-serif;
}
